In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
creditcarddata = pd.read_csv("C:/Users/home/Downloads/creditcard.csv")

C:\Users\home\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
creditcarddata.head()

,NPA Status,RevolvingUtilizationOfUnsecuredLines,age,Gender,Region,MonthlyIncome,Rented_OwnHouse,Occupation,Education,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome.1,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,Good_Bad
0,1.0,0.766127,45.0,Male,South,9120.0,Ownhouse,Self_Emp,Matric,2.0,0.802982,9120.0,13.0,0.0,6.0,0.0,2,Bad
1,0.0,0.957151,40.0,Female,South,2600.0,Ownhouse,Self_Emp,Graduate,0.0,0.121876,2600.0,4.0,0.0,0.0,0.0,1,Good
2,0.0,0.658180,38.0,Female,South,3042.0,Ownhouse,Self_Emp,PhD,1.0,0.085113,3042.0,2.0,1.0,0.0,0.0,0,Good
3,0.0,0.233810,30.0,Female,South,3300.0,Ownhouse,Self_Emp,Professional,0.0,0.036050,3300.0,5.0,0.0,0.0,0.0,0,Good
4,0.0,0.907239,49.0,Male,South,63588.0,Ownhouse,Self_Emp,Post-Grad,1.0,0.024926,63588.0,7.0,0.0,1.0,0.0,0,Good

In [4]:
creditcarddata.dtypes

NPA Status                              float64
RevolvingUtilizationOfUnsecuredLines    float64
age                                     float64
Gender                                   object
Region                                   object
MonthlyIncome                           float64
Rented_OwnHouse                          object
Occupation                               object
Education                                object
NumberOfTime30-59DaysPastDueNotWorse    float64
DebtRatio                               float64
MonthlyIncome.1                         float64
NumberOfOpenCreditLinesAndLoans         float64
NumberOfTimes90DaysLate                 float64
NumberRealEstateLoansOrLines            float64
NumberOfTime60-89DaysPastDueNotWorse    float64
NumberOfDependents                       object
Good_Bad                                 object
dtype: object

In [5]:
creditcarddata.columns

Index(['NPA Status', 'RevolvingUtilizationOfUnsecuredLines', 'age', 'Gender',
       'Region', 'MonthlyIncome', 'Rented_OwnHouse', 'Occupation', 'Education',
       'NumberOfTime30-59DaysPastDueNotWorse', 'DebtRatio', 'MonthlyIncome.1',
       'NumberOfOpenCreditLinesAndLoans', 'NumberOfTimes90DaysLate',
       'NumberRealEstateLoansOrLines', 'NumberOfTime60-89DaysPastDueNotWorse',
       'NumberOfDependents', 'Good_Bad'],
      dtype='object')

In [6]:
creditcarddata["NPA Status"].value_counts()

0.0    139974
1.0     10026
Name: NPA Status, dtype: int64

In [7]:
creditcarddata["Gender"].value_counts()

Male      92304
Female    57696
Name: Gender, dtype: int64

In [8]:
creditcarddata["Region"].value_counts()

Central    43956
North      34099
West       27899
South      23495
East       20551
Name: Region, dtype: int64

In [9]:
creditcarddata["Rented_OwnHouse"].value_counts()

Ownhouse    85953
Rented      64047
Name: Rented_OwnHouse, dtype: int64

In [10]:
creditcarddata["Occupation"].value_counts()

Self_Emp       64116
Non-officer    41113
Officer3       16274
Officer1       15164
Officer2       13333
Name: Occupation, dtype: int64

In [11]:
creditcarddata["Education"].value_counts()

Professional    50920
Graduate        39755
Post-Grad       37214
Matric          15810
PhD              6301
Name: Education, dtype: int64

In [12]:
creditcarddata["Good_Bad"].value_counts()

Good    139974
Bad      10026
Name: Good_Bad, dtype: int64

In [13]:
creditcarddata.shape

(150002, 18)

In [14]:
creditcarddata.isnull().sum()

NPA Status                                  2
RevolvingUtilizationOfUnsecuredLines        2
age                                         2
Gender                                      2
Region                                      2
MonthlyIncome                           29733
Rented_OwnHouse                             2
Occupation                                  2
Education                                   2
NumberOfTime30-59DaysPastDueNotWorse        2
DebtRatio                                   2
MonthlyIncome.1                         29733
NumberOfOpenCreditLinesAndLoans             2
NumberOfTimes90DaysLate                     2
NumberRealEstateLoansOrLines                2
NumberOfTime60-89DaysPastDueNotWorse        2
NumberOfDependents                       3924
Good_Bad                                    2
dtype: int64

In [15]:
creditcarddata = creditcarddata.drop(["MonthlyIncome.1"],axis=1)

In [16]:
creditcarddata.shape

(150002, 17)

In [17]:
creditcarddata.isnull().sum()

NPA Status                                  2
RevolvingUtilizationOfUnsecuredLines        2
age                                         2
Gender                                      2
Region                                      2
MonthlyIncome                           29733
Rented_OwnHouse                             2
Occupation                                  2
Education                                   2
NumberOfTime30-59DaysPastDueNotWorse        2
DebtRatio                                   2
NumberOfOpenCreditLinesAndLoans             2
NumberOfTimes90DaysLate                     2
NumberRealEstateLoansOrLines                2
NumberOfTime60-89DaysPastDueNotWorse        2
NumberOfDependents                       3924
Good_Bad                                    2
dtype: int64

In [18]:
creditcarddata[creditcarddata["NPA Status"].isnull()]

,NPA Status,RevolvingUtilizationOfUnsecuredLines,age,Gender,Region,MonthlyIncome,Rented_OwnHouse,Occupation,Education,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,Good_Bad
150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good,NaN
150001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bad,NaN

In [19]:
creditcarddata = creditcarddata.drop([150000,150001])

In [20]:
creditcarddata[creditcarddata["NPA Status"].isnull()]

Empty DataFrame
Columns: [NPA Status, RevolvingUtilizationOfUnsecuredLines, age, Gender, Region, MonthlyIncome, Rented_OwnHouse, Occupation, Education, NumberOfTime30-59DaysPastDueNotWorse, DebtRatio, NumberOfOpenCreditLinesAndLoans, NumberOfTimes90DaysLate, NumberRealEstateLoansOrLines, NumberOfTime60-89DaysPastDueNotWorse, NumberOfDependents, Good_Bad]
Index: []

In [21]:
creditcarddata.isnull().sum()

NPA Status                                  0
RevolvingUtilizationOfUnsecuredLines        0
age                                         0
Gender                                      0
Region                                      0
MonthlyIncome                           29731
Rented_OwnHouse                             0
Occupation                                  0
Education                                   0
NumberOfTime30-59DaysPastDueNotWorse        0
DebtRatio                                   0
NumberOfOpenCreditLinesAndLoans             0
NumberOfTimes90DaysLate                     0
NumberRealEstateLoansOrLines                0
NumberOfTime60-89DaysPastDueNotWorse        0
NumberOfDependents                       3924
Good_Bad                                    0
dtype: int64

In [22]:
creditcarddata.describe()

,NPA Status,RevolvingUtilizationOfUnsecuredLines,age,MonthlyIncome,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse
count,150000.000000,150000.000000,150000.000000,1.202690e+05,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000
mean,0.066840,6.048438,52.295207,6.670221e+03,0.421033,353.005076,8.452760,0.265973,1.018240,0.240387
std,0.249746,249.755371,14.771866,1.438467e+04,4.192781,2037.818523,5.145951,4.169304,1.129771,4.155179
min,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.029867,41.000000,3.400000e+03,0.000000,0.175074,5.000000,0.000000,0.000000,0.000000
50%,0.000000,0.154181,52.000000,5.400000e+03,0.000000,0.366508,8.000000,0.000000,1.000000,0.000000
75%,0.000000,0.559046,63.000000,8.249000e+03,0.000000,0.868254,11.000000,0.000000,2.000000,0.000000
max,1.000000,50708.000000,109.000000,3.008750e+06,98.000000,329664.000000,58.000000,98.000000,54.000000,98.000000

In [23]:
np.mean(creditcarddata.MonthlyIncome.dropna())

6670.221237392844

In [24]:
creditcarddata.MonthlyIncome = creditcarddata.MonthlyIncome.fillna(creditcarddata.MonthlyIncome.mean())

In [25]:
creditcarddata.isnull().sum()

NPA Status                                 0
RevolvingUtilizationOfUnsecuredLines       0
age                                        0
Gender                                     0
Region                                     0
MonthlyIncome                              0
Rented_OwnHouse                            0
Occupation                                 0
Education                                  0
NumberOfTime30-59DaysPastDueNotWorse       0
DebtRatio                                  0
NumberOfOpenCreditLinesAndLoans            0
NumberOfTimes90DaysLate                    0
NumberRealEstateLoansOrLines               0
NumberOfTime60-89DaysPastDueNotWorse       0
NumberOfDependents                      3924
Good_Bad                                   0
dtype: int64

In [26]:
creditcarddata.NumberOfDependents = pd.to_numeric(creditcarddata.NumberOfDependents)

In [27]:
creditcarddata.NumberOfDependents = creditcarddata.NumberOfDependents.fillna(1)

In [28]:
creditcarddata.NumberOfDependents.value_counts()

0.0     86902
1.0     30240
2.0     19522
3.0      9483
4.0      2862
5.0       746
6.0       158
7.0        51
8.0        24
9.0         5
10.0        5
13.0        1
20.0        1
Name: NumberOfDependents, dtype: int64

In [29]:
creditcarddata.isnull().sum()

NPA Status                              0
RevolvingUtilizationOfUnsecuredLines    0
age                                     0
Gender                                  0
Region                                  0
MonthlyIncome                           0
Rented_OwnHouse                         0
Occupation                              0
Education                               0
NumberOfTime30-59DaysPastDueNotWorse    0
DebtRatio                               0
NumberOfOpenCreditLinesAndLoans         0
NumberOfTimes90DaysLate                 0
NumberRealEstateLoansOrLines            0
NumberOfTime60-89DaysPastDueNotWorse    0
NumberOfDependents                      0
Good_Bad                                0
dtype: int64

In [30]:
creditcarddata.dtypes

NPA Status                              float64
RevolvingUtilizationOfUnsecuredLines    float64
age                                     float64
Gender                                   object
Region                                   object
MonthlyIncome                           float64
Rented_OwnHouse                          object
Occupation                               object
Education                                object
NumberOfTime30-59DaysPastDueNotWorse    float64
DebtRatio                               float64
NumberOfOpenCreditLinesAndLoans         float64
NumberOfTimes90DaysLate                 float64
NumberRealEstateLoansOrLines            float64
NumberOfTime60-89DaysPastDueNotWorse    float64
NumberOfDependents                      float64
Good_Bad                                 object
dtype: object

In [31]:
creditcarddata["NPA Status"].value_counts()

0.0    139974
1.0     10026
Name: NPA Status, dtype: int64

In [32]:
creditcarddata["NPA Status"] = pd.to_numeric(creditcarddata["NPA Status"], downcast='signed')

In [33]:
creditcarddata["NPA Status"].value_counts()

0    139974
1     10026
Name: NPA Status, dtype: int64

In [35]:
type(creditcarddata["NPA Status"])

pandas.core.series.Series

In [37]:
creditcarddata.head()

,NPA Status,RevolvingUtilizationOfUnsecuredLines,age,Gender,Region,MonthlyIncome,Rented_OwnHouse,Occupation,Education,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,Good_Bad
0,1,0.766127,45.0,Male,South,9120.0,Ownhouse,Self_Emp,Matric,2.0,0.802982,13.0,0.0,6.0,0.0,2.0,Bad
1,0,0.957151,40.0,Female,South,2600.0,Ownhouse,Self_Emp,Graduate,0.0,0.121876,4.0,0.0,0.0,0.0,1.0,Good
2,0,0.658180,38.0,Female,South,3042.0,Ownhouse,Self_Emp,PhD,1.0,0.085113,2.0,1.0,0.0,0.0,0.0,Good
3,0,0.233810,30.0,Female,South,3300.0,Ownhouse,Self_Emp,Professional,0.0,0.036050,5.0,0.0,0.0,0.0,0.0,Good
4,0,0.907239,49.0,Male,South,63588.0,Ownhouse,Self_Emp,Post-Grad,1.0,0.024926,7.0,0.0,1.0,0.0,0.0,Good

In [38]:
creditcarddata.isnull().sum()

NPA Status                              0
RevolvingUtilizationOfUnsecuredLines    0
age                                     0
Gender                                  0
Region                                  0
MonthlyIncome                           0
Rented_OwnHouse                         0
Occupation                              0
Education                               0
NumberOfTime30-59DaysPastDueNotWorse    0
DebtRatio                               0
NumberOfOpenCreditLinesAndLoans         0
NumberOfTimes90DaysLate                 0
NumberRealEstateLoansOrLines            0
NumberOfTime60-89DaysPastDueNotWorse    0
NumberOfDependents                      0
Good_Bad                                0
dtype: int64

In [46]:
creditcarddata.iloc[0:5,:-1]

,NPA Status,RevolvingUtilizationOfUnsecuredLines,age,Gender,Region,MonthlyIncome,Rented_OwnHouse,Occupation,Education,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,0.766127,45.0,Male,South,9120.0,Ownhouse,Self_Emp,Matric,2.0,0.802982,13.0,0.0,6.0,0.0,2.0
1,0,0.957151,40.0,Female,South,2600.0,Ownhouse,Self_Emp,Graduate,0.0,0.121876,4.0,0.0,0.0,0.0,1.0
2,0,0.658180,38.0,Female,South,3042.0,Ownhouse,Self_Emp,PhD,1.0,0.085113,2.0,1.0,0.0,0.0,0.0
3,0,0.233810,30.0,Female,South,3300.0,Ownhouse,Self_Emp,Professional,0.0,0.036050,5.0,0.0,0.0,0.0,0.0
4,0,0.907239,49.0,Male,South,63588.0,Ownhouse,Self_Emp,Post-Grad,1.0,0.024926,7.0,0.0,1.0,0.0,0.0

In [62]:
creditcarddata.Education.value_counts()

Professional    50920
Graduate        39755
Post-Grad       37214
Matric          15810
PhD              6301
Name: Education, dtype: int64

In [71]:
from sklearn.preprocessing import LabelEncoder

In [72]:
LE = LabelEncoder()
creditcarddata.Education = LE.fit_transform(creditcarddata.Education)

In [73]:
creditcarddata.Education.value_counts()

4    50920
0    39755
3    37214
1    15810
2     6301
Name: Education, dtype: int64

In [81]:
creditcarddata.Occupation.value_counts()

Self_Emp       64116
Non-officer    41113
Officer3       16274
Officer1       15164
Officer2       13333
Name: Occupation, dtype: int64

In [82]:
creditcarddata.Occupation = LE.fit_transform(creditcarddata.Occupation)

In [84]:
creditcarddata.Occupation.value_counts()

4    64116
0    41113
3    16274
1    15164
2    13333
Name: Occupation, dtype: int64

In [92]:
creditcarddata.Rented_OwnHouse.value_counts()

Ownhouse    85953
Rented      64047
Name: Rented_OwnHouse, dtype: int64

In [93]:
creditcarddata.Rented_OwnHouse = LE.fit_transform(creditcarddata.Rented_OwnHouse)

In [94]:
creditcarddata.Rented_OwnHouse.value_counts()

0    85953
1    64047
Name: Rented_OwnHouse, dtype: int64

In [102]:
creditcarddata.Region.value_counts()

Central    43956
North      34099
West       27899
South      23495
East       20551
Name: Region, dtype: int64

In [103]:
creditcarddata.Region = LE.fit_transform(creditcarddata.Region)

In [104]:
creditcarddata.Region.value_counts()

0    43956
2    34099
4    27899
3    23495
1    20551
Name: Region, dtype: int64

In [112]:
creditcarddata.Gender.value_counts()

Male      92304
Female    57696
Name: Gender, dtype: int64

In [113]:
creditcarddata.Gender = LE.fit_transform(creditcarddata.Gender)

In [114]:
creditcarddata.Gender.value_counts()

1    92304
0    57696
Name: Gender, dtype: int64

In [115]:
x = creditcarddata.iloc[:,:-1]

In [116]:
y = creditcarddata.Good_Bad

In [117]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3,random_state=42)

In [118]:
x_train.shape

(105000, 16)

In [119]:
x_test.shape

(45000, 16)

In [120]:
from sklearn.tree import DecisionTreeClassifier

In [121]:
classifier = DecisionTreeClassifier(criterion='entropy')
classifier.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [122]:
classifier.score(x_train, y_train)

1.0

In [123]:
classifier.score(x_test, y_test)

1.0

In [124]:
classifier1 = DecisionTreeClassifier(criterion='gini')
classifier1.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [125]:
classifier1.score(x_train, y_train)

1.0

In [126]:
classifier1.score(x_test, y_test)

1.0